body {
  background-color: blue;
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

p {
  color: white;
  font-family: arial;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
}

html > div {
  display: none !important;
}